@@include('../parts/header.html')
<section class="home-slider">
	<div class="container">
		<div class="owl-carousel">
			<div class="slide">
				<img src="images/slide1.jpg">
				<div class="text">
					<div class="text-wrap">
						<div class="text-inner">
							<h2>МЫ – официальные<br>представители масел<br>Shell.</h2>
							<p>Продаем только ОРИГНАЛЬНЫЕ масла и<br>жидкости! ПРОДАЕМ КАЧЕСТВО!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="slide">
				<img src="images/slide2.jpg">
				<div class="text">
					<div class="text-wrap">
						<div class="text-inner">
							<h2>МЫ – официальные<br>представители масел<br>Shell.</h2>
							<p>Продаем только ОРИГНАЛЬНЫЕ масла и<br>жидкости! ПРОДАЕМ КАЧЕСТВО!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home-catalog">
	<div class="container">
		<h2><span class="lined">КАТАЛОГ ТОВАРОВ</span></h2>
		<div class="items">
			<div class="completely-useless-block left"></div>
			<div class="completely-useless-block right"></div>
			<div class="left">
				<a href="#" class="item masla">
					Масла, смазки и трансмиссия
				</a>
				<div class="clear"></div>
			</div>
			<div class="right">
				<a href="#" class="item chemy">
					Автохимия, Автокосметика
				</a>
				<a href="#" class="item accessory">
					Автоаксессуары
				</a>
				<div class="clear"></div>
				<a href="#" class="item liquid">
					Охлаждающие жидкости
				</a>
				<a href="#" class="item glasses">
					Очки водителя, сумки водителя
				</a>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>

		</div>
	</div>
</section>
<section class="fullwidth-banner">
	<div class="container">
		<div class="banner">
			<img src="images/home-banner.jpg">
			<div class="text-left">Доставка осуществляется по вторникам и четвергам</div>
			<div class="text-right"> с 18:00-21:00</div>
		</div>
	</div>
</section>
<section class="catalog-best">
	<div class="container">
		<h2><span class="lined">ЛУЧШЕЕ ИЗ КАТАЛОГА</span></h2>
		<div class="catalog-carousel catalog-items owl-carousel">
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
			@@include('../parts/catalog-item.html', { "shield": ""})
		</div>
	</div>
</section>
<section class="home-news">
	<div class="container">
		<div class="left">
			<h2>О МАГАЗИНЕ “БЕРИ-В-АВТО”</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			<p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
		</div>
		<div class="right">
			<div class="news-line">
				<a href="#">архив новостей</a>
				<h2>НОВОСТИ КОМПАНИИ</h2>
			</div>
			<div class="col-left">
				<a class="news-item" href="#">
					<img src="images/news-1.jpg">
					<span class="title-plank">
						<span class="date">21.02.2016</span>
						<span class="title">Новое поступление очков “DRIVER” - коллекция 2016</span>
					</span>
				</a>
			</div>
			<div class="col-right">
				<a class="news-item" href="#">
					<img src="images/news-2.jpg">
					<span class="title-plank">
						<span class="date">21.02.2016</span>
						<span class="title">Новое поступление очков “DRIVER” - коллекция 2016</span>
					</span>
				</a>
				<a class="news-item" href="#">
					<img src="images/news-2.jpg">
					<span class="title-plank">
						<span class="date">21.02.2016</span>
						<span class="title">Новое поступление очков “DRIVER” - коллекция 2016</span>
					</span>
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</section>
@@include('../parts/footer.html')
