@@include('../parts/header.html')
<section class="site-contents">
	<div class="container">
		@@include('../parts/aside.html')
		<div class="workarea">
			<h1 class="redcenter">Охлаждающие жидкости</h1>
			<div class="filters">
				<div class="filter"><input type="checkbox" class="customized" id="f1"><label for="f1">Hotaka</label></div>
				<div class="filter"><input type="checkbox" class="customized" id="f2"><label for="f2">Japanco</label></div>
				<div class="filter"><input type="checkbox" class="customized"id="f3"><label for="f3">Motul</label></div>
				<div class="filter"><input type="checkbox" class="customized" id="f4"><label for="f4">Pwr2k</label></div>
				<div class="filter"><input type="checkbox" class="customized" id="f5"><label for="f5">Mutaro</label></div>
				<div class="filter"><input type="checkbox" class="customized" id="f6"><label for="f6">Felix</label></div>
				<div class="filter"><input type="checkbox" class="customized" disabled id="f7"><label for="f7">Alaska</label></div>
			</div>
			<div class="tabbed-catalog-carousel">
				<div class="nav-tabs">
					<div class="sep-long"></div>
					<div class="nav-pill active"><a href="#tab-1">НОВИНКИ</a></div>
					<div class="sep-short"></div>
					<div class="nav-pill"><a href="#tab-2">СКИДКИ</a></div>
					<div class="sep-short"></div>
					<div class="nav-pill"><a href="#tab-3">ПОПУЛЯРНОЕ</a></div>
					<div class="sep-long"></div>					
				</div>
				<div class="tabs-content">
					<div class="tab active" id="tab-1">
						<div class="catalog-carousel catalog-items owl-carousel">
							@@include('../parts/catalog-item.html', { "shield": "shield-1.png"})
							@@include('../parts/catalog-item.html', { "shield": "shield-2.png"})
							@@include('../parts/catalog-item.html', { "shield": "shield-3.png"})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": "shield-2.png"})
							@@include('../parts/catalog-item.html', { "shield": "shield-3.png"})
							@@include('../parts/catalog-item.html', { "shield": "shield-1.png"})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
						</div>
						<a href="#" class="show-all">показать все товары в разделе “новинки”</a>
					</div>
					<div class="tab" id="tab-2">
						<div class="catalog-carousel catalog-items owl-carousel">
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
						</div>
						<a href="#" class="show-all">показать все товары в разделе “скидки”</a>
					</div>
					<div class="tab" id="tab-3">
						<div class="catalog-carousel catalog-items owl-carousel">
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
						</div>
						<a href="#" class="show-all">показать все товары в разделе “популярное”</a>
					</div>
				</div>
			</div>
			<div class="inner-page-catalog">
				<h2><span class="lined">КАТАЛОГ НОВИНОК</span></h2>
				<div class="catalog-items">
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
							@@include('../parts/catalog-item.html', { "shield": ""})
					<div class="clear"></div>
				</div>
			</div>
			@@include('../parts/pagination.html')
		</div> <!-- of workarea -->
		<div class="clear"></div>
	</div>
</section>
<section class="fullwidth-banner">
	<div class="container">
		<div class="banner">
			<img src="images/home-banner.jpg">
			<div class="text-left">Доставка осуществляется по вторникам и четвергам</div>
			<div class="text-right"> с 18:00-21:00</div>
		</div>
	</div>
</section>
@@include('../parts/footer.html')
