﻿@@include('../parts/header.html')
<section class="site-contents">
	<div class="container">
		@@include('../parts/aside.html')
		<div class="workarea">
			@@include('../parts/breadcrumbs.html')
			<div class="product-info">
				<div class="left">
					<a data-fancybox-group="product-image" class="fancybox" href="images/product.jpg">
						<img src="images/product.jpg">
					</a>
				</div>
				<div class="right">
					<h1 class="blackleft">Motul 234 K</h1>
					<p>Общее название для жидкостей, не замерзающих при низких температурах. Применяются в установках, работающих при низких температурах, для охлаждения двигателей внутреннего сгорания...</p>
					<div class="price-line">
						<div class="price">2500 <span class="product-info-rur"></span></div>
						@@include('../parts/plusminus.html')
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div> <!-- of workarea -->
		<div class="clear"></div>
	</div>
</section>
<section class="fullwidth-banner">
	<div class="container">
		<div class="banner">
			<img src="images/home-banner.jpg">
			<div class="text-left">Доставка осуществляется по вторникам и четвергам</div>
			<div class="text-right"> с 18:00-21:00</div>
		</div>
	</div>
</section>
@@include('../parts/footer.html')
