@@include('../parts/header.html')
<section class="site-contents">
	<div class="container">
		<div class="workarea wide">
			<h1 class="blackleft-lined"><span>Корзина заказа</span></h1>
			<div class="cart-contents">
				<div class="cart-item">
					<div class="col image"><div class="img-wrap"><img src="images/cart-thumb.png"></div></div>
					<div class="col title">Т.е. должно быть отражено: стоимость доставки, либо «Бесплатная доставка».</div>
					<div class="col cost">
						<div class="cost-title">СТОИМОСТЬ, 1 ШТ.:</div>
						<div class="cost-val">500 <span class="cart-rur-small"></span></div>
					</div>
					<div class="col quantity">
						@@include('../parts/plusminus-noadd.html')
					</div>
					<div class="col remove"><a href="#">- УБРАТЬ</a></div>
				</div>
				<div class="cart-item">
					<div class="col image"><div class="img-wrap"><img src="images/cart-thumb.png"></div></div>
					<div class="col title">MOBIL Super 3000 X1 5W-40 4 л</div>
					<div class="col cost">
						<div class="cost-title">СТОИМОСТЬ, 1 ШТ.:</div>
						<div class="cost-val">500 <span class="cart-rur-small"></span></div>
					</div>
					<div class="col quantity">
						@@include('../parts/plusminus-noadd.html')
					</div>
					<div class="col remove"><a href="#">- УБРАТЬ</a></div>
				</div>
				<div class="cart-item">
					<div class="col image"><div class="img-wrap"><img src="images/cart-thumb.png"></div></div>
					<div class="col title">MOBIL Super 3000 X1 5W-40 4 л</div>
					<div class="col cost">
						<div class="cost-title">СТОИМОСТЬ, 1 ШТ.:</div>
						<div class="cost-val">500 <span class="cart-rur-small"></span></div>
					</div>
					<div class="col quantity">
						@@include('../parts/plusminus-noadd.html')
					</div>
					<div class="col remove"><a href="#">- УБРАТЬ</a></div>
				</div>
			</div> <!-- of cart contents -->
			<div class="subtotal">
				<span class="black">всего 4 товара на сумму <strong>10 000</strong> руб → </span>
				<span class="red"><strong>бесплатная доставка по г. Иркутску</strong> (от 5000 <span class="cart-rur-small"></span>)</span>
			</div>
			<div class="dotted-area">
				<div class="dotted-area-header"><span class="inner">заполните поля ниже, и наш менеджер перезвонит уточнить детали заказа</span></div>
				<div class="dotted-area-inner">
					<input type="text" class="text-input" placeholder="Имя">
					<input type="text" class="text-input" placeholder="Телефон">
					<input type="text" class="text-input" placeholder="E-mail">
					<input type="text" class="address-input" placeholder="Адрес доставки (Иркутск или окрестности)">
				</div>
				<div class="dotted-area-footer"><span class="inner"><button class="submit-order">ОТПРАВИТЬ ЗАЯВКУ</button></span></div>
			</div>
		</div>
	</div>
</section>
@@include('../parts/footer.html')
