/* TOOLTIPS */
.input-wrapper {
  position: relative;
}
.form-tooltip {
  position: absolute;
  z-index: 2;
  height: 36px;
  background-color: #D9534F;
  padding: 5px;
  color: #fff;
  border-radius: 45px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;
  opacity: 0;
  transition: .7s;
  line-height: 23px;
}
.form-tooltip-bottom {
  margin-top: -30px;
  margin-left: 30px;
}
.form-tooltip-top {
  margin-top: -36px;
  /*margin-left: 30px; */
  top: 0;
}
.form-tooltip-bottom:after {
  content: "";
  height: 0;
  position: absolute;
  bottom: 36px;
  left: 30px;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #D9534F;
}
.form-tooltip-top:after {
  content: "";
  height: 0;
  position: absolute;
  top: 36px;
  left: 30px;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #D9534F;
}
.invalid + .form-tooltip {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
/* END TOOLTIPS */
