.header-rur {
	width: 10px;
	height: 13px;
	display: inline-block;
	background: url(../images/header-rur.png) center no-repeat;
}	

.cart-rur {
	width: 17px;
	height: 21px;
	display: inline-block;
	background: url(../images/cart-rur.png) center no-repeat;
}	

.cart-rur-small {
	width: 11px;
	height: 15px;
	display: inline-block;
	background: url(../images/cart-rur-small.png) top center no-repeat;
}	

.product-info-rur {
	width: 24px;
	height: 28px;
	display: inline-block;
	background: url(../images/product-info-rur.png) top center no-repeat;
}	

.delo-logo {
	width: 18px;
	height: 15px;
	display: inline-block;
	background: url(../images/delo-logo.png) top center no-repeat;
}	

