@font-face { font-family: "MuseoSansCyrl-100"; src: url("../fonts/museosanscyrl_100.eot"); src: url("../fonts/museosanscyrl_100.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_100.woff") format("woff"), url("../fonts/museosanscyrl_100.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "MuseoSansCyrl-300"; src: url("../fonts/museosanscyrl_300.eot"); src: url("../fonts/museosanscyrl_300.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_300.woff") format("woff"), url("../fonts/museosanscyrl_300.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "MuseoSansCyrl-500"; src: url("../fonts/museosanscyrl_500.eot"); src: url("../fonts/museosanscyrl_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_500.woff") format("woff"), url("../fonts/museosanscyrl_500.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "MuseoSansCyrl-700"; src: url("../fonts/museosanscyrl_700.eot"); src: url("../fonts/museosanscyrl_700.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_700.woff") format("woff"), url("../fonts/museosanscyrl_700.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Pribambas"; src: url("../fonts/Pribambas.eot"); src: url("../fonts/Pribambas.eot?#iefix") format("embedded-opentype"), url("../fonts/Pribambas.ttf") format("truetype"), url("../fonts/Pribambas.woff") format("woff"),; font-weight: normal; font-style: normal; }
@font-face { font-family: "Raleway-400"; src: url("../fonts/Raleway-400.eot"); src: url("../fonts/Raleway-400.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-400.ttf") format("truetype"), url("../fonts/Raleway-400.woff") format("woff"),; font-weight: normal; font-style: normal; }
@font-face { font-family: "Raleway-700"; src: url("../fonts/Raleway-700.eot"); src: url("../fonts/Raleway-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-700.ttf") format("truetype"), url("../fonts/Raleway-700.woff") format("woff"),; font-weight: normal; font-style: normal; }
