body {
	background: #fff;
	min-width: 1010px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

* {
	box-sizing: border-box;
}

.clear {
	clear: both;
}

button {
	cursor: pointer;
}

.justify {
    text-align: justify;
    &:after{
	content: "";
	display: inline-block;
	width: 100%;
    }
}

.placeholder {
	font-style: italic;
	opacity: 1 !important;
	color: #555;
}

::-webkit-input-placeholder {
   	.placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   	.placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   	.placeholder;
}

:-ms-input-placeholder {  
   	.placeholder;
}

@firm-red: #e22923;

.font-line(@size, @height) {
	font-size: @size;
	line-height: @height;
}

// fonts
.pribambas {
	font-family: 'Pribambas', 'Open Sans Condensed';
}

.museo(@weight) {
	font-family: 'MuseoSansCyrl-@{weight}', 'Open Sans', 'Arial', sans-serif;
	font-weight: @weight;
}

.raleway(@weight) {
	font-family: 'Raleway-@{weight}', 'Open Sans', 'Arial', sans-serif;
	font-weight: @weight;
}

body {
	.museo(300);
}

label[for] { cursor: pointer; }

body:not(.legacy-browsers) {
	input[type=checkbox].customized {
		display: none;
		+ label {
			position: relative;
			display: inline-block;
			padding-left: 20px;
			&:before {
				width: 12px;
				position: absolute;
				left: 0;
				top: -2px;
				bottom: 0;
				display: block;
				background: url(../images/checkbox-unchecked.png) center no-repeat;
				content: '';
			}
		}
		&:checked + label:before {
			background: url(../images/checkbox-checked.png) center no-repeat;
		}
	}
}

.red-btn-grad {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f08e8b+0,e8524d+49,e22923+51,e22923+100 */
					background: -moz-linear-gradient(top, #f08e8b 0%, #e8524d 49%, #e22923 51%, #e22923 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #f08e8b 0%,#e8524d 49%,#e22923 51%,#e22923 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, #f08e8b 0%,#e8524d 49%,#e22923 51%,#e22923 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					&:hover {
						background: #f08e8b; /* Old browsers */
						background: -moz-linear-gradient(top,  #f08e8b 0%, #e22923 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  #f08e8b 0%,#e22923 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  #f08e8b 0%,#e22923 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					}
}

section.home-catalog, section.catalog-best, .inner-page-catalog {
	.catalog-carousel {
		padding: 0 75px;
	}
	h2 {
		.pribambas;
		color: #484848;
		font-size: 24px;
		line-height: 30px;
		text-align: center;
		overflow: hidden;
		margin-bottom: 40px;
		.lined {
			display: inline-block;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 500px;
				background: #d3d3d3;
				height: 1px;
				right: 100%;
				margin-right: 30px;
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				width: 500px;
				background: #d3d3d3;
				height: 1px;
				left: 100%;
				margin-left: 30px;
			}
		}
	}
}

p {
	.font-line(13px, 20px);
	margin-bottom: 1em;
}

.navigation {
		.pribambas;
		margin-bottom: 2px;
		ul {
			li {
				&.has-dropdown {
					position: relative;
					> a:after {
						content: '';
						margin-left: 5px;
						background: url(../images/menu-triangle.png) center no-repeat;
						height: 11px;
						width: 11px;
						display: inline-block;
					}
					> ul {
						position: absolute;
						z-index: 800;
						width: 175px;
						padding: 0 20px;
						background: rgb(219,219,219);
						background: rgba(219,219,219,0.9);
						> li {
							display: block;
							padding: 20px 0;
							border-bottom: solid 1px #c5c5c5;
							&:last-child { border-bottom: none; }
							a {
								.raleway(700);
								color: #000;
								.font-line(14px, 18px);
								white-space: normal;
								display: block;
								text-align: left;
								text-decoration: none;
								&:hover {
									color: @firm-red;
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
}


header {
	.header-top {
		height: 231px;
		background: #e4e4e4 url(../images/header.jpg) center top no-repeat;
		.left {
			padding-left: 30px;
			padding-top: 60px;
			float: left;
		}
		.right {
			width: 695px;
			float: right;
			padding-top: 45px;
		}
		.cart {
			display: block;
			text-decoration: none;
			padding-right: 30px;
			.pribambas;
			float: right;
			padding-left: 33px;
			background: url(../images/header-cart.png) left center no-repeat;
			line-height: 20px;
			font-size: 20px;
			color: @firm-red;
			text-transform: uppercase;
			.value {
				color: #777;
				.museo(500);
			}
		}
		.contacts-part, .description {
			padding-left: 20px;
		}
		.contacts-part {
			float: left;
			> * {
				display: inline-block;
				vertical-align: middle;			
			}
			.phone {
				padding-left: 32px;
				line-height: 28px;
				font-size: 28px;
				background: url(../images/header-phone.png) left center no-repeat;
				margin-right: 10px;
				b {
					.museo(700);
				}
			}
			button {
				background: @firm-red;
				border: none;
				width: 120px;
				height: 25px;
				color: #fff;
				font-family: Open Sans, sans-serif;
				font-size: 11px;
				text-decoration: underline;
				padding-bottom: 4px;
				border-radius: 5px;
				transition: 0.3s;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.description {
			width: 400px;
			float: left;
			font-size: 14px;
			line-height: 18px;
			.museo(300);
		}
		.search {
			float: right;
			padding-right: 30px;
			input[type=text] {
				color: #000;
				font-size: 11px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				vertical-align: middle;
				height: 25px;
				padding: 0 10px;
				width: 145px;
				background: #fff;
				border-radius: 5px;
				border: none;
			}
			.search-btn {
				vertical-align: middle;
				background: url(../images/header-glass.png) center no-repeat;
				height: 30px;
				width: 30px;
				border: none;
			}
		}
		.hr {
			border-top: solid 1px #e6e6e6;
			border-bottom: solid 1px #d3d3d3;
			margin: 25px 0;
		}
	}
	.nav-container {
		margin-left: -5px;
		margin-right: -5px;
		color: #fff;
		margin-top: -30px;
		height: 60px;
		background: #393939;
		padding: 10px 10px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a4a4a+0,242424+50,000000+50,000000+100 */
		background: -moz-linear-gradient(top,  #4a4a4a 0%, #242424 50%, #000000 50%, #000000 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #4a4a4a 0%,#242424 50%,#000000 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #4a4a4a 0%,#242424 50%,#000000 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		border-radius: 10px;
		> ul {
			display: table;
			> li.has-dropdown > ul {
				left: 25px;
				top: 100%;
				margin-top: 10px;
				&:before {
							content: '';
							position: absolute;
							left: 0;
							top: -10px;
							width: 172px;
							height: 10px;
							background: url(../images/menu-triangle-white.png) right center no-repeat;
				}
			}
		}
	}
	
}

header, footer {
	.navigation > ul, .nav-container > ul {
			> li {
				display: table-cell;
				vertical-align: middle;
				width: 1%;
				border-left: solid 1px #555;
				&.has-dropdown {
					> ul {
						box-shadow: 0 0px 1px rgba(0,0,0,0.2);
						visibility: hidden;
						opacity: 0;
						transition: 0.3s;
					}
					&:hover > ul {
						visibility: visible;
						opacity: 1;
					}
	
				}
				&:first-child {
					border-left: none;
				}
				> a {
					color: inherit;
				}
				> a {
					display: block;
					white-space: nowrap;
					font-size: 20px;
					color: inherit;
					.pribambas;
					line-height: 40px;
					text-decoration: none;
					padding: 0 20px;
					transition: 0.2s;
					outline: solid 3px transparent;
					text-align: center;
				}
				&:hover > a {
						outline: solid 3px @firm-red;
						color: @firm-red;
				}
			}
	}
}

footer {
	background: #e4e4e4 url(../images/footer.jpg) center;
	padding-top: 55px;
	.logo-n-co {
		.justify;
		padding: 0 30px;
		.logo-n-descriptor {
			display: inline-block;
			vertical-align: middle;
		}
		.logo {
			display: inline-block;
			vertical-align: middle;
			margin-right: 25px;
		}
		.descriptor {
			font-size: 12px;
			line-height: 18px;
			.museo(300);
			text-align: left;
			width: 260px;
			display: inline-block;
			vertical-align: middle;
		}
		.phone {
				padding-left: 20px;
				line-height: 28px;
				font-size: 22px;
				background: url(../images/header-phone.png) left center no-repeat;
				background-size: 15px 15px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				b {
					.museo(700);
				}
		}
		.search {
			display: inline-block;
			vertical-align: middle;
			input[type=text] {
				color: #000;
				font-size: 11px;
				vertical-align: middle;
				height: 25px;
				padding: 0 10px;
				width: 145px;
				background: #fff;
				border-radius: 5px;
				border: none;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
			}
			.search-btn {
				vertical-align: middle;
				background: url(../images/header-glass.png) center no-repeat;
				height: 30px;
				width: 30px;
				border: none;
			}
		}
	}
	.hr {
		border-top: solid 1px #f1f1f1;
		margin: 35px 0;
	}
	.nav-container {
		padding: 0 10px;
		> .navigation > ul > li {
			border-left-color: #b4b4b4 !important;
			color: #303030;
			> ul {
				left: 20px;
				bottom: 100%;
			}
		}
		margin-bottom: 35px;
	}
	.copyright-plank {
		height: 60px;
		margin: 0 30px;
		background: rgba(0,0,0,0.1);
		color: #666;
		font-size: 12px;
		line-height: 16px;
		padding: 25px;
		span, img {
			vertical-align: middle;
			margin: 0 6px;
		}
		a {
			text-decoration: none;
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
		.left {
			float: left;
		}
		.right {
			float: right;
		}
	}
}

section.home-slider {
	margin-bottom: 40px;
	.owl-carousel {
		position: relative;
	}
	.owl-prev {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		left: -22px;
		width: 22px;
		height: 100px;
		background: url(../images/arrow-left.png) center no-repeat;
		z-index: 5;
		cursor: pointer;
		&:hover {
			background: url(../images/arrow-left-hover.png) center no-repeat;
		}
	}
	.owl-next {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		right: -22px;
		width: 22px;
		height: 100px;
		background: url(../images/arrow-right.png) center no-repeat;
		z-index: 5;
		cursor: pointer;
		&:hover {
			background: url(../images/arrow-right-hover.png) center no-repeat;
		}
	}
	.slide {
		padding: 0 30px;
		position: relative;
		.text {
			position: absolute;
			top: 30px;
			left: 100px;
			right: 100px;
			bottom: 30px;
			.text-wrap {
				display: table;
				height: 100%;
				width: 100%;
				.text-inner {
					display: table-cell;
		                        vertical-align: middle;
					height: 100%;
					width: 100%;
				}
			}
		}
		.raleway(400);
		font-size: 14px;
		line-height: 25px;
		h2 {
			.raleway(700);
			text-align: left;
			font-size: 28px;
			line-height: 32px;
			margin-bottom: 0.5em;
		}
	}
}

section.home-catalog {
	padding: 30px 0;
	overflow: hidden;
	position: relative;
	.items {
		position: relative;
		margin-bottom: 20px;
		.completely-useless-block {
			position: absolute;
			top: 0;
			height: 300px;
			width: 2000px;
			background: url(../images/setka.png) repeat;
			&.left {
				right: 100%;
			}
			&.right {
				left: 100%;
			}
		}
		.left {
			padding-left: 30px;
			float: left;
			.item {
				width: 293px;
				height: 300px;
			}
		}
		.right {
			padding-left: 30px;
			float: right;
			.item {
				width: 293px;
				height: 135px;
				float: left;
				margin-right: 30px;
			}
		}
		
		.item(@type) {
			.item.@{type} {
			padding: 30px 115px 30px 20px;
			margin-bottom: 30px;
			background: url('../images/@{type}.png') center no-repeat;
			display: block;
			text-decoration: none;
			.raleway(700);
			font-size: 20px;
			line-height: 24px;
			position: relative;
			color: #000;
			transition: 0.3s;
			border: solid 1px #eee;
			&:after {
				transition: 0.3s;
				position: absolute;
				z-index: 1;
				content: '';
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				border: solid 3px transparent;
			}
			&:hover:after {
				border: solid 3px @firm-red;
			}
			&:hover {
				color: @firm-red;
			}
			&:before {
				content: '';
				width: 100%;
				height: 125%;
				position: absolute;
				bottom: -22px;
				right: 10px;
				z-index: 2;	
				background: url('../images/@{type}-outer.png') bottom right no-repeat;
			}
			}
		}
		.item(masla);
		.item(chemy);
		.item(accessory);
		.item(liquid);
		.item(glasses);
	}
}

section.fullwidth-banner {
	.container {
		padding: 0 30px;
	}
	.banner {
		position: relative;
		margin-bottom: 50px;
		.text-left {
			position: absolute;
			top: 25px;
			left: 35px;
			width: 230px;
			.raleway(700);
			color: @firm-red;
			font-size: 16px;
			line-height: 22px;
		}
		.text-right {
			color: @firm-red;
			position: absolute;
			top: 15px;
			right: 20px;
			bottom: 15px;
			width: 225px;
			background: #fff;
			padding: 24px;
			text-align: center;
			.museo(500);
			font-size: 24px;
		}
	}
}

.product-info .plusminus {
	width: 210px;
	height: 35px;
	input[type=text] {
		width: 35px;
		height: 35px;
		font-size: 22px;
	}
	.buttons {
		left: 40px;
		width: 25px;
	}
	.to-cart {
		width: 140px;
		font-size: 16px;
		font-weight: bold;
	}	
}

.plusminus {
	position: relative;
	width: 125px;
	height: 20px;
	input[type=text] {
		color: #828282;
		width: 25px;
		height: 20px;
		border: solid 1px #ececec;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		&:hover, &:focus {
			border-color: #939393;
		}
	}
	.buttons {
		position: absolute;
		left: 30px;
		top: 0;
		width: 15px;
		height: 100%;
		.up, .down {
			position: absolute;
			left: 0;
			width: 100%;
			height: 50%;
			border: none;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}			
		}
		.up {
			top: 0;
			background: url(../images/up.png) center no-repeat;
		}
		.down {
			bottom: 0;
			background: url(../images/down.png) center no-repeat;
		}
	}
	.to-cart {
		position: absolute;
		right: 0px;
		top: 0;
		width: 75px;
		height: 100%;
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 9px;
		color: @firm-red;
		border: none;
		background: #ececec;
		transition: 0.3s;
		white-space: nowrap;
		&:hover {
			background: @firm-red;
			color: #fff;
		}
	}
}
.plusminus-noadd {
	position: relative;
	height: 35px;
	padding-left: 70px;
	display: inline-block;
	input[type=text] {
		color: #828282;
		width: 35px;
		font-size: 22px;
		height: 100%;
		border: solid 1px #ececec;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		&:hover, &:focus {
			border-color: #939393;
		}
	}
	.buttons {
		position: absolute;
		top: 0;
		left: 40px;
		width: 25px;
		height: 100%;
		.up, .down {
			position: absolute;
			left: 0;
			width: 100%;
			height: 50%;
			border: none;
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}			
		}
		.up {
			top: 0;
			background: url(../images/up.png) center no-repeat;
		}
		.down {
			bottom: 0;
			background: url(../images/down.png) center no-repeat;
		}
	}
	.total-cost {
		line-height: 35px;
		vertical-align: middle;
		font-size: 28px;
		color: @firm-red;
		white-space: nowrap;
	}
}

.catalog-carousel {
	padding: 0 30px;
	margin-bottom: 30px;
	.owl-prev {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		left: -10px;
		width: 10px;
		height: 100px;
		background: url(../images/arrow-left.png) left center no-repeat;
		background-size: 10px 28px !important;
		z-index: 5;
		cursor: pointer;
		&:hover {
			background: url(../images/arrow-left-hover.png) left center no-repeat;
		}
	}
	.owl-next {
		position: absolute;
		top: 50%;
		margin-top: -50px;
		right: -10px;
		width: 10px;
		height: 100px;
		background: url(../images/arrow-right.png) right center no-repeat;
		background-size: 10px 28px !important;
		z-index: 5;
		cursor: pointer;
		&:hover {
			background: url(../images/arrow-right-hover.png) right center no-repeat;
		}
	}
}

.catalog-items {
	.item {
		margin-bottom: 30px;
		padding-top: 12px;
	}
	a { text-decoration: none; }
	a:hover .img-wrap {
			border: solid 1px #8c8c8c;
	}
	img.shield {
		position: absolute;
		top: -11px;
		right: -12px;
		z-index: 10;
		width: auto;
		height: auto;
	}
	img.product {
		display: block;
		width: 100%;
		height: auto;
	}
	.img-wrap {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
		border: solid 1px #d3d3d3;
		display: block;
		transition: 0.3s;
		position: relative;
	}
	.title-group {
		display: block;
		height: 70px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.title {
		display: block;
		.museo(100);
		color: #424242;
		.font-line(12px,18px);
		min-height: 44px;
		max-height: 53px;
		overflow: hidden;
	}
	.cost {
		display: block;
		color: @firm-red;
		font-size: 18px;
		.museo(500);
	}
}


section.home-news {
	.container {
		padding: 55px 30px;
	}
	.left {
		width: 250px;
		float: left;
	}
	.right {
		width: 610px;
		float: right;
	}
	.news-line {
		a {
			float: right;
			line-height: 25px;
			color: @firm-red;
			font-family: Open Sans, sans-serif;
			font-size: 11px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	h2 {
			margin-bottom: 25px;
			color: #8c8c8c;
			text-align: left;
			.pribambas;
			font-size: 25px;
		}
	p {
		color: #8c8c8c;
	}
	.col-left {
		width: 293px;
		float: left;
	}
	.col-right {
		width: 293px;
		float: right;
	}
	.news-item {
		position: relative;
		display: block;
		margin-bottom: 30px;
		&:hover:after {
			border: solid 3px #a5a5a5;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: solid 3px transparent;
			transition: 0.3s;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		.title-plank {
			min-height: 75px;
			position: absolute;
			left: 35px;
			right: 35px;
			bottom: 25px;
			display: block;
			.date {
				display: block;
				font-size: 14px;
				.museo(700);
				color: #fff;
				margin-bottom: 1em;
			}
			.title {
				display: block;
				.raleway(700);
				.font-line(16px,22px);
				color: #000;
			}
		}
	}
}

section.site-contents {
	padding: 50px 0;
	aside {
		float: left;
		width: 191px;
		padding: 0 30px;
		.banner {
			&:hover .more span { text-decoration: underline; }
			display: block;
			position: relative;
			text-decoration: none;
			img { display: block; width: 100%; height: auto; }
			.text {
				position: absolute;
				top: 25px;
				left: 20px;
				right: 20px;
				.raleway(700);
				color: #fff;
				z-index: 1;
				font-size: 12px;
				line-height: 16px;
			}
			.more {
				position: absolute;
				bottom: 25px;
				left: 20px;
				right: 10px;
				.raleway(300);
				color: @firm-red;
				z-index: 1;
				font-size: 14px;
				white-space: nowrap;
			}
		}
		ul.categories {
			margin-bottom: 40px;
			a, .a { color: inherit; text-decoration: none; display: block; }
			li.active > ul { display: block; }
			> li {
				.font-line(14px, 18px);
				.raleway(700);
				padding: 16px 0;
				border-bottom: solid 1px #e5e5e5;
				color: #000;
 
				&.active {
					> a, .a {
						background: url(../images/aside-active-1.png) 0% 80% no-repeat;
						padding-left: 20px;
						margin-left: -3px;
						color: @firm-red;
					}
				}
				a:hover {
					color: @firm-red;
					text-decoration: underline;
				}
				> ul {
					display: none;
					padding-top: 10px;
					> li {
					    	.font-line(12px, 18px);
						margin-bottom: 1em;
						&:last-child { margin-bottom: 0; }
						> a, .a {
							background: url(../images/aside-corner.png) 0% 60% no-repeat;
							padding-left: 7px;
						}
						ul {
							display: none;
							padding-top: 10px;
							.raleway(400);
						}
					}	
				}
				&:first-child { padding-top: 0; }
				&:last-child { border-bottom: none; }
			}
		}
	}
	.workarea.wide {
		float: none;
		width: auto;
		padding: 0 30px;
	}
	.workarea {
		float: right;
		width: 789px;
		padding-right: 30px;
		.subtotal {
			text-align: center;
			padding: 25px;
			.font-line(18px, 20px);
			background: #f5f5f5;
			margin-bottom: 50px;
			.black {
				color: #000;
				.museo(100);
				strong {
					.museo(700);
				}
			}
			.red {
				color: @firm-red;
				.museo(400);
				strong {
					.museo(500);
				}
			}
			
			
		}
		.dotted-area {
			.placeholder {
				font-style: italic;
				opacity: 1 !important;
				color: #555;
				.museo(300);
			}

			::-webkit-input-placeholder {
			   	.placeholder;
			}

			:-moz-placeholder { /* Firefox 18- */
			   	.placeholder;
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   	.placeholder;
			}

			:-ms-input-placeholder {  
   				.placeholder;
			}
			background: url(../images/dotted-borders.png) top center repeat-y;
			.dotted-area-header, .dotted-area-footer {
				height: 1px;
				background: url(../images/dashed-bottom.png) center no-repeat;
				text-align: center;
				position: relative;
				.inner {
					display: inline-block;
					padding: 0 10px;
					line-height: 12px;
					top: -8px;
					position: relative;
					background: #fff;
				}
			}
			.dotted-area-header .inner {
				font-size: 12px;
				color: #7e7e7e;
				.museo(700);
			}
			.dotted-area-footer .inner { top: -22px; }
			.dotted-area-inner {
				padding: 50px 20px;
				text-align: center;
				input[type=text] {
					border: solid 1px #d3d3d3;
					padding: 0 10px;
					height: 36px;
					.museo(700); 
					color: #000;
				}
				.text-input {
					width: 270px;
					margin: 0 12px 25px;
				}
				.address-input {
					width: 520px;
					margin-bottom: 10px;
				}
			}
			.submit-order {
					border: none;
					border-radius: 5px;
					.museo(500);
					color: #fff;
					background: #e22923;
					font-size: 18px;
					height: 45px;
					width: 280px;
					.red-btn-grad;
			}
		}
		.product-info {
			.price-line {
				> div {
					float: left;
				}
				.price {
					font-size: 38px;
					color: @firm-red;
					margin-right: 25px;
				}
			}
			.price-line {
				margin-top: 24px;
				.museo(500);
			}
			.left {
				width: 271px;
				float: left;
				a {
					border: solid 1px #d3d3d3;
					display: block;
					position: relative;
					&:after {
						position: absolute;
						background: url(../images/product-magnify.png) center no-repeat;
						height: 26px;
						width: 26px;
						content: '';
						right: 10px;
						bottom: 10px;
						z-index: 1;
					}
				}
				img {
					width: 100%;
					display: block;
					height: auto;
				}
			}
			.right {
				width: 455px;
				float: right;
				p {
					color: #424242;
					.raleway(400);
					.font-line(14px, 20px);
				}
			}
		}
		.filters {
			.raleway(700);
			background: #eaeaea;
			padding: 15px;
			text-align: center;
			margin-bottom: 50px;
			.filter {
				display: inline-block;
			}
			label { margin: 5px 10px; }
			input[type=checkbox].customized + label {
				margin: 5px 0;
				padding: 10px 10px 10px 30px;
				&:before { left: 10px; }
				&:hover {
					background-color: #fff;
				}
			}
			input[type=checkbox].customized:disabled + label {
				color: #7d7d7d;
			}

		}
		.tabbed-catalog-carousel {
			.nav-tabs {
				display: table;
				width: 100%;
				margin-bottom: 15px;
				a {
					color: #484848;
					.pribambas;
					font-size: 24px;
					display: block;
					padding-bottom: 10px;
					text-decoration: none;
				}
				.active a {
					color: @firm-red;
					background: url(../images/nav-bird.png) bottom center no-repeat;
				}
				> * {
					display: table-cell;
					vertical-align: middle;
				}
				.sep-long, .sep-short {
					background: url(../images/grey-line.png) center repeat-x;
				}
				.sep-short, .nav-pill {
					width: 1%;
				}
				.sep-short {
					padding: 0 11px;
				}
				.nav-pill {
					padding: 0 25px;
				}
			}
			.tab {
				display: none;
				&.active {
					display: block;
				}
			}
			.show-all {
				width: 400px;
				margin: 0 auto;
				display: block;
				.font-line(14px, 30px);
				color: @firm-red;
				background: #eaeaea; 
				text-align: center;
				.raleway(400);
				transition: 0.3s;
				margin-bottom: 30px;
				&:hover {
					background: @firm-red;
					color: #fff;
				}
			}
		}
	}
	h1.redcenter {
		font-size: 34px;
		.raleway(700);
		text-align: center;
		color: @firm-red;
		margin-bottom: 35px;
	}
	h1.blackleft {
		font-size: 44px;
		.raleway(700);
		text-align: left;
		color: #000;
		margin-bottom: 22px;
		margin-top: -3px;
	}
	h1.blackleft-lined {
		font-size: 34px;
		.raleway(700);
		text-align: left;
		color: #000;
		margin-bottom: 25px;
		overflow: hidden;
		span {
			display: inline-block;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 100%;
				margin-left: 30px;
				width: 1000px;
				height: 1px;
				background: #ebebeb;
				top: 50%;
			}
		}
	}
}

.inner-page-catalog {
	margin-bottom: 20px;
	.catalog-items {
		margin-right: -50px;
		.item {
			float: left;
			margin-right: 70px;
			width: 130px;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
}

.pagination {
	background: #efefef;
	padding: 5px 0;
	margin-bottom: 30px;
	ul {
		text-align: center;
		li {
			display: inline-block;
			vertical-align: top;
			a, span {
				width: 30px;
				height: 30px;
				line-height: 27px;
				display: block;
				font-size: 18px;
				font-family: 'Open Sans', sans-serif;
				border-radius: 15px;
				text-decoration: none;
				color: #424242;
				vertical-align: top;
				border: solid 2px transparent;
			}
			.active {
				border: solid 2px #fff;
				color: @firm-red;
			}
			a:hover {
				background: @firm-red;
				color: #fff;
			}
		}
	}	
}

.breadcrumbs {
	.raleway(400);
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 36px;
	overflow: hidden;
	a {
		color: inherit;
		text-decoration: none;
		transition: 0.3s;
		&:hover {
			color: @firm-red;
		}
	}
	.plank {
		position: relative;
		display: inline-block;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			background: #ebebeb;
			width: 1000px;
			left: 100%;
			margin-left: 20px;
		}
	}
}

.cart-contents {
	color: #424242;
	display: table;
	margin-bottom: 30px;
	.cart-item:last-child .col { background: none; }
	.cart-item {
		display: table-row;
		.col {
			display: table-cell;
			vertical-align: middle;
			padding-top: 25px;
			padding-bottom: 25px;
			background: url(../images/dashed-bottom.png) bottom repeat-x;
		}
		.quantity {
			padding-left: 15px;
		}
		.remove {
			padding-left: 15px;
			a {
				white-space: nowrap;
				display: inline-block;
				background: #f5f5f5;
				transition: 0.3s;
				color: @firm-red;
				text-decoration: none;
				padding: 0 10px;
				line-height: 35px;
				&:hover {
					background: @firm-red;
					color: #fff;
				}
			}
		}
		.cost {
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
			.cost-title {
				font-size: 10px;
				.raleway(400);
				white-space: nowrap;
				margin-bottom: 9px;
			}
			.cost-val {
				.museo(500);
				color: @firm-red;
				font-size: 18px;
			}
		}
		.title {
			.font-line(22px, 26px);
			.raleway(400);
			padding-right: 15px;
		}
		.image {
			padding-right: 15px;
			.img-wrap {
				height: 60px;
				width: 60px;
				overflow: hidden;
				border: solid 1px #d3d3d3;
			}
		}
	}
}

.popups {
	.hidden {
		visibility: hidden !important;
		opacity: 0 !important;
	}
	.popup-bg {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5);
		z-index: 10;
		opacity: 1;
	}
	.popup, .popup-bg {
		visibility: visible;
		transition: 0.5s;
	}
	#callback {
		position: fixed;
		z-index: 20;
		top: 50%;
		margin-top:  -250px;
		left: 50%;
		margin-left: -225px;
		width: 450px;
		.white-bg {
			width: 350px;
			background: #fff;
			padding: 40px 30px;
			border-radius: 13px;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
			margin: 0 auto;
			position: relative;
			text-align: center;
			h3 {
				.pribambas;
				font-size: 35px;
				color: @firm-red;
				margin-bottom: 30px;
			}
			.trubka {
				position: absolute;
				left: -50px;
				right: -50px;
				top: -21px;
				bottom: 0;
				background: url(../images/legacy-trubka.png) left top no-repeat;
			}
			.close {
				background: url(../images/popup-close.png) center no-repeat;
				width: 19px;
				height: 19px;
				position: absolute;
				right: 5px;
				top: 5px;
				border: none;
			}
			.inner {
				position: relative;
				z-index: 30;
			}
			input {
				width: 100%;
				height: 35px;
				border: solid 1px #d3d3d3;
				text-align: center;
				padding: 0 10px;
				font-size: 18px;
			}
			.input-wrap {
				position: relative;
			}
			.input-wrap.st {
				margin-bottom: 20px;
			}
			.input-wrap.scn {
				margin-bottom: 30px;
			}
			.submit {
				.red-btn-grad;
				height: 45px;
				.museo(500);
				color: #fff;
				font-size: 18px;
				width: 100%;
				border: none;
				border-radius: 5px;
			}
			.placeholder {
				font-style: italic;
				opacity: 1 !important;
				color: #a6a6a6;
				.museo(300);
			}

			::-webkit-input-placeholder {
			   	.placeholder;
			}

			:-moz-placeholder { /* Firefox 18- */
			   	.placeholder;
			}

			::-moz-placeholder {  /* Firefox 19+ */
			   	.placeholder;
			}

			:-ms-input-placeholder {  
   				.placeholder;
			}
			
		}
	}
}
