<aside>
	<ul class="categories">
		<li><a href="#">Масла, смазки и трансмиссия</a></li>
		<li class="active"><span class="a">Охлаждающие жидкости</span>
			<ul>
				<li><a href="#">Тосол</a></li>
				<li class="active"><a href="#">Антифриз</a>
					<ul>
						<li><a href="#">HotakaFreeze</a></li>
						<li><a href="#">MutakaBreeze</a></li>
						<li><a href="#">ChitakaPlease</a></li>
					</ul>
				</li>
				<li><a href="#">Антифриз</a>
					<ul>
						<li><a href="#">HotakaFreeze</a></li>
						<li><a href="#">MutakaBreeze</a></li>
						<li><a href="#">ChitakaPlease</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#">Автохимия, Автокосметика</a>
			<ul>
				<li><a href="#">Тосол</a></li>
				<li class="active"><a href="#">Антифриз</a>
					<ul>
						<li><a href="#">HotakaFreeze</a></li>
						<li><a href="#">MutakaBreeze</a></li>
						<li><a href="#">ChitakaPlease</a></li>
					</ul>
				</li>
				<li><a href="#">Антифриз</a></li>
			</ul>
		</li>
		<li><a href="#">Автоаксессуары</a></li>
		<li><a href="#">Очки водителя, сумки водителя</a></li>
	</ul>
	<a href="#" class="banner">
		<img src="images/aside-banner.png">
		<span class="text">Новое поступление ковриков для авто!</span>
		<span class="more"><span>подробнее</span> →</span>
		
	</a>
</aside>
