<div class="item">
	<a href="#">
	<span class="img-wrap">
		@@if(shield) { <img class="shield" src="images/@@shield"> }
		<img class="product" src="https://placeholdit.imgix.net/~text?txtsize=20&bg=ffffff&txtclr=000000&txt=150%C3%97150&w=150&h=150">
	</span>
	<span class="title-group">
		<span class="title">
			MOBIL Super 3000 X1 5W-40 4 л
		</span>
		<span class="cost">2500 <span class="cart-rur-small"></span></span>
	</span>
	</a>
	@@include('plusminus.html')
</div> <!-- of item -->