<footer>
	<div class="container">
		<div class="logo-n-co">
			<div class="logo-n-descriptor">
				<div class="logo"><a href="/"><img src="images/logo-footer.png"></a></div>
				<div class="descriptor">Масла, расходники, автохимия и аксессуары для вашего автомобиля в Иркутске</div>
			</div>
			<div class="phone">8 (3952) <b>504-205</b></div>
			<div class="search">
				@@include('search.html')
			</div>
		</div>
		<div class="hr"></div>
		<div class="nav-container">
			<div class="navigation">
			@@include('menuha.html')
			</div>
		</div>
		<div class="copyright-plank">
			<div class="left">
				2015-2016 (С) ОАО “Бери-В-АВТО” Все права защищены
			</div>
			<div class="right">
				<span>разработка и продвижение сайта:</span> <a href="#"><span class="delo-logo"></span> <span>Деловой сайт</span></a>
			</div>
		</div>
	</div>
</footer>
<script src="js/scripts-min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'></body>                
<div class="popups">
	<div class="popup-bg hidden closepopup"></div>
	<div class="popup hidden" id="callback">
		<div class="white-bg">
		    <div class="trubka"></div>
		    <button class="close closepopup"></button>
		    <div class="inner">
			<h3>ЗАКАЗАТЬ ЗВОНОК</h3>
			<form>
			<div class="input-wrap st"><input type="text" placeholder="Ваше имя" class="required">
              			<div class="form-tooltip form-tooltip-top">Пожалуйста, представьтесь</div>
			</div>
			<div class="input-wrap scn"><input type="text" placeholder="Телефон" class="required">
              			<div class="form-tooltip form-tooltip-top">Пожалуйста, укажите Ваш телефон</div>
			</div>
			<div class="input-wrap thrd"><button class="submit checkform">ОТПРАВИТЬ ЗАЯВКУ</button></div>
			</form>
		    </div>
		</div>
	</div>
</div>
</html>
