			<ul>
				<li class="has-dropdown"><a href="#">Каталог товаров</a>
					<ul>
						<li><a href="#">Масла, смазки и трансмиссия</a></li>
						<li><a href="#">Охлаждающие жидкости</a></li>
						<li><a href="#">Автохимия, Автокосметика</a></li>
						<li><a href="#">Автоакксессуары</a></li>
						<li><a href="#">Очки водителя, сумки водителя</a></li>
					</ul>
				</li>
				<li><a href="#">О магазине</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Доставка и оплата</a></li>
				<li><a href="#">Контактная информация</a></li>
			</ul>
