<div class="pagination">
	<ul>
		<li><span class="active">1</span></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">6</a></li>
		<li><a href="#">7</a></li>
		<li><a href="#">8</a></li>
		<li><a href="#">9</a></li>
		<li><span>...</span></li>
		<li><a href="#">32</a></li>
	</ul>
</div>