<div class="plusminus-noadd">
	<input type="text" name="q" value="1">
	<div class="buttons">
		<button class="up"></button>
		<button class="down"></button>
	</div>
	<div class="total-cost">3500 <span class="cart-rur"></span></div>
</div>
