<div class="plusminus">
	<input type="text" name="q" value="1">
	<div class="buttons">
		<button class="up"></button>
		<button class="down"></button>
	</div>
	<button class="to-cart">+ В КОРЗИНУ</button>
</div>
